
body{
    background-color:antiquewhite;
    color: black;
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
    margin:0;
}

.web_title{
    left:25%;
    top: 10%;
    position: relative;
}

/* .test{
    position: static;
    position: relative;
    position: absolute;
    position: fixed;
} */

table{
    width: 100%;
    height: 50%;
    padding: 10px;
    /* margin-left: 50px; */
    background-color: aqua;
    border-top: 2px solid red;
    border-radius: 25px;
}

th{
    border: 1px solid black;
    border-radius: 25px;
    width: 10%;
}
td{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.z-index{
    position: absolute;
    z-index: -5;
}
div{
    border: 2px solid red;

}

div > h1{
    width: 50%;

    border: 2px solid green;
}